<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2130567295-qdn48g4qo1j3j79bb4mjnabna12a39bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2130567295-qdn48g4qo1j3j79bb4mjnabna12a39bq</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Rf4AYMp79MPa_cmPPvkbE8zoIzVFAfs</string>
	<key>GCM_SENDER_ID</key>
	<string>2130567295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shubham.kashyap.Uber-Practise-App</string>
	<key>PROJECT_ID</key>
	<string>uber-practise-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-practise-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2130567295:ios:0274dc0fbbe34a1200df4a</string>
</dict>
</plist>